body {
    font-family: 'Droid Sans', Arial, Verdana, sans-serif;
    color: #404040;
    background-color: #fcfcfc;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Dosis', Arial, Verdana, sans-serif;
}
.navbar a {
    font-family: 'Dosis', Arial, Verdana, sans-serif;
}

.jumbotron {
    background: url("../../img/background.jpg") no-repeat center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    color: #ffffff;
}



#head {
    margin-top: 50px;
}

#head .btn-group-lg > .btn {
    font-size: 28px;
}

.certificado > p {
    padding-top: 10px;
    padding-bottom: 5px;
}

.certificado {
    background: #f1f1f1;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#app {
    margin-top: 50px;
}
#advantage {
    margin-top: 50px;
}

.example-image {
    width: 20rem;
    border-radius: 5px;
}

#footer {
    padding-top: 1rem;
    background-color: #f1f1f1;
}

#copyright {
    background-color: #f1f1f1;
}

#alertmessage {
    margin-bottom: 0;
}

#top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid #5d5d5d;
    border-radius: 3px;
    display: block;
    padding: 10px;
    color: #404040;
}

/*Mega menu begin*/
.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
/*Mega menu end*/

/*Product list begin */
/**** BASE ****/
body {
    color: #888;
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

/*Product list end */

/*navbar*/
#nav .navbar {
    margin-bottom: 0;
}
